@model Product

@{
    ViewData["Title"] = "AddForm";
}

<h1>Add A New Coffee!</h1>

<form asp-controller="Admin" asp-action="Add" method="post">
    <table>
        <tr>
            <th>@Html.LabelFor(m => m.Name)</th>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Price)</th>
            <td>@Html.EditorFor(m => m.Price)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Description)</th>
            <td>@Html.TextAreaFor(m => m.Description)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Category)</th>
            <td>@Html.EditorFor(m => m.Category)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Origin)</th>
            <td>@Html.EditorFor(m => m.Origin)</td>
        </tr>
        <tr>
            <th><input type="submit" value="Add" class="btn btn-dark" /></th>
        </tr>
    </table>
</form>
