@model CoffeeShop.Models.UserRegistration

@{
    ViewData["Title"] = "Register";
}

<h1>Registration Completion</h1>

<p>Thank you, @Model.FirstName @Model.LastName you have been successfully registered.</p>

<h3>Information</h3>

<p>
    <table>
        <tr>
            <th>@Html.LabelFor(m => m.Email): </th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Phone): </th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.CoffeePreference): </th>
            <td>@Model.CoffeePreference</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.Newsletter): </th>
            <td>@Model.Newsletter</td>
        </tr>
    </table>
</p>

